.unity-text-element {
    -unity-font-definition: resource('Fonts/LINESeedKR-Rg SDF');
    -unity-text-align: upper-left;
    align-items: stretch;
    justify-content: flex-start;
    align-self: stretch;
    font-size: 28px;
}

.unity-base-text-field {
    -unity-font-definition: resource('Fonts/LINESeedKR-Rg SDF');
}

.unity-text-field {
}

.unity-base-field--no-label {
}
